@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body{
    font-family: "Poppins", sans-serif;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

nav{
    width: 100%;
    height: 5.5rem;
    padding: 0 1rem;
    background-color: #E7DFD8;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
}

nav .links{
    display: flex;
    width: 50%;
    align-items: center;
    justify-content: space-between;
}


nav .links .sidebar{
    height: 100vh;
    width: 13rem;
    position: absolute;
    margin: 0;
    top: 0;
    left: -14rem;
    background-color: #E7DFD8;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
    padding: 1rem 0;
    transition: .3s;
}

nav .links .sidebar{
    display: none;
}

nav .links .sidebar .log-i{
    width: 90%;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 1rem;
}


nav .links .icon-bars{
    display: none;
}

nav .links .icon-bars{
    color: #54504D;
    list-style-type: none;
}
nav .links ul .icon-x{
    color: #54504D;
    list-style-type: none;
}

nav .links .icon-bars i{
    padding: .4rem .5rem;
    font-size: 1.1rem;
    background-color: rgba(0, 0, 0, 0.15);
    border-radius: .2rem;
    cursor: pointer;
}
nav .links ul .icon-x i{
    padding: .3rem .5rem;
    font-size: 1.1rem;
    background-color: rgba(0, 0, 0, 0.15);
    border-radius: .2rem;
    cursor: pointer;
}

.links .sidebar a{
    width: 100%;
}

.links .sidebar a li{
    list-style-type: none;
    font-size: 1.5rem;
    height: 4rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: #E7DFD8;
    background-color: #54504D;
    padding: 0 1.5rem;
}

.links .sidebar a .li2.prof, 
.links .sidebar a .li1.prof{
    padding: 0;
}

.links .sidebar a .li2.meds, 
.links .sidebar a .li1.meds{
    padding: 0;
}

.links .sidebar a .li2.accs, 
.links .sidebar a .li1.accs{
    padding: 0;
}


.links .sidebar a .li2 i{
    padding-bottom: .4rem;
    margin-right: .3rem;    
}

.links .sidebar a .li2 i,
.links .sidebar a .li2 .home{
    font-size: 1.3rem;
}

.links .sidebar a .li2 i,
.links .sidebar a .li2.prof{
    font-size: 1.3rem;
}

.links .sidebar a .li2 i,
.links .sidebar a .li2.meds{
    font-size: 1.3rem;
}


.links .sidebar a .li2 i,
.links .sidebar a .li2.accs{
    font-size: 1.3rem;
}

.links .sidebar a .li1 i{
    padding-bottom: .4rem;
    margin-right: .3rem;
}

.links .sidebar a .li1{
    background-color: #E7DFD8;
}

.links .sidebar a .li1:hover{
    background-color: #E7DFD8;
}

.links .sidebar a .li1 span{
   font-size: 1.3rem;
   color: #54504D;
}


.links  .sidebar .login button{
    width: 5.5rem;
    height: 2.5rem;
    font-size: 1.2rem;
}

.links  .sidebar .login{
   margin-top: 2rem;
}

.links ul{
    width: 90%;
    display: flex;
    justify-content: flex-start;
    margin-left: .5rem;
}

.links ul a{
    text-decoration: none;
    
}

.links a li{
    list-style-type: none;
    letter-spacing: .1rem;
    height: 5.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #E7DFD8;
    background-color: #54504D;
    padding: 0 1.5rem;
    padding-top: 1rem;
}

.links a li i{
    font-size: 2rem;
}

.links a li .home{
    font-weight: 500;
    font-size: 1rem;
    color: #E7DFD8;
}


.links a .li1{
    list-style-type: none;
    letter-spacing: .1rem;
    padding-top: 1rem;
    height: 5.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #E7DFD8;
    
}

.links a .li2.prof{
    padding: 0 1rem;
    padding-top: 1rem;
}

.links a .li2.prof i{
    font-size: 2.3rem;
}

.links a .li2.meds{
    padding: 0 .5rem;
    padding-top: 1rem;
}

.links a .li2.accs{
    padding: 0 .5rem;
    padding-top: 1rem;
}

.links a .li1.prof{
    padding: 0 1rem;
    padding-top: 1rem;
}

.links a .li1.prof i{
    font-size: 2.3rem;
}

.links a .li1.meds{
    padding: 0 .5rem;
    padding-top: 1rem;
}

.links a .li1.accs{
    padding: 0 .5rem;
    padding-top: 1rem;
}


.links a .li1 i{
    font-size: 2rem;
    color: #54504D;
}

.links a .li1 .home{
    font-weight: 500;
    font-size: 1rem;
    color: #E7DFD8;
    
}

.links a .li1:hover{
    transition: .3s;
    color: #E7DFD8;
    background-color: #54504D;
    opacity: 1;
}

nav img{
    width: 4.5rem;
    margin-top: .4rem;

}

nav .login{
    width: 50%;
    display: flex;
    justify-content: end;
}

nav .login .log{
    width: 7rem;
    height: 3rem;
    font-family: "Poppins", sans-serif;
    font-size: x-large;
    font-weight: 400;
    background-color: #54504D;
    color: #E7DFD8;
    border: none;
    border-radius: 2.5rem;
    cursor: pointer;
}

nav .login .log:hover{
    opacity: .8;
    transition: .3s;
}

.container{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.05);
}

.container .mcon{
    width: 70%;
    height: 70%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);

}

.container .mcon .inpfield{
    width: 50%;
    height: 100%;
    background-color: #E7DFD8;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 2rem 0;
    
}

.container .mcon .inpfield .imglog{
    width: 3rem;
    display: none;
}
.container .mcon .inpfield h3{
    font-size: 2.2rem;
    letter-spacing: .2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    color: #54504D;
}

.container .mcon .inpfield .h3{
    font-size: 1.7rem;
    margin-bottom: .5rem;
    letter-spacing: .2rem;
    font-weight: 700;
    color: #54504D;
}

.container .mcon .inpfield .fgot{
    text-decoration: none;
    color: #54504D;
    font-size: 1.2rem;
}

.container .mcon .inpfield .fgot:hover{
    text-decoration: underline;
}

.container .mcon .inpfield .inps{
    display: flex;
    flex-direction: column;
    width: 80%;
}

.container .mcon .inpfield .inps label{
    color: #54504D;
    letter-spacing: .1rem;
    font-size: 1.2rem;
}

.container .mcon .inpfield .inps input{
    height: 2rem;
    padding-left: .2rem;
    font-size: 1rem;
    border: .01rem solid black;
    font-family: "Poppins", sans-serif;
    background-color: white;
    color: #54504D;
}

.container .mcon .inpfield .login{
    width: 80%;
    height: 2.1rem;
    color: #E7DFD8;
    background-color: #54504D;
    font-family: "Poppins", sans-serif;
    font-size: 1.2rem;
    font-weight: 400;
    border: none;
    cursor: pointer;
    letter-spacing: .1rem;
}

.container .mcon .inpfield .login:hover{
    opacity: .8;
    transition: .3s;
}

.container .mcon .imgfield{
    width: 50%;
    height: 100%;
    background: url(../imgs/sbg.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}


.container1{
    padding-top: 4rem;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    background-color: rgba(0, 0, 0, 0.05);
}

.container1 .conts{
    width: 25%;
    height: 65%;
    background-color: #E7DFD8;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
}

.container1 .conts .profile{
    width: 8rem;
    height: 8rem;
    display: flex;
    border: none;
    border-radius: 8rem;
    justify-content: center;
    align-items: center;
    background-color: #54504D;
    margin-bottom: 1rem;
    cursor: pointer;
}


.container1 .conts .profile i{
    color: #E7DFD8;
    font-size: 5rem;
}

.container1 .conts i{
    font-size: 8rem;
    margin-bottom: 1rem;
    color: #54504D;
    cursor: pointer;
}

.container1 .conts .btn{
    margin-top: 1.5rem;
    width: 12rem;
    height: 2.5rem;
    border: none;
    background-color: #54504D;
    color: #E7DFD8;
    font-family: "Poppins", sans-serif;
    font-size: 1.3rem;
    letter-spacing: .15rem;
    cursor: pointer;
}

.container1 .conts .btn:hover{
    opacity: .8;
    transition: .3s;
}

.container2{
    padding-top: 7rem;
    padding-left: 2rem;
    padding-bottom: 1.5rem;
    margin: .5rem 0 1.5rem;
    width: 100%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    letter-spacing: .1rem;
}

.container2 h4{
    font-size: 1.2rem;
    font-weight: 500;
    color: #54504D;
}
.container2 h2{
    font-size: 1.7rem;
    font-weight: 700;
    color: #54504D;
}

.histmed{
    width: 100%;
    height: 5rem;
    background-color: #E7DFD8;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: .2rem;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
    color: #54504D;
}

.table1{
    margin-top: 1rem;
    width: 90%;
    text-align: center;
}

.table1 thead tr th{
    background-color: #E7DFD8;
    color: #54504D;
}

.table1 thead tr .th1{
    font-size: 1.7rem;
    padding: .9rem 5rem;
    font-weight: 700; 
}

.table1 thead tr .th2{
    font-size: 1.7rem;
    padding: .9rem 10rem;
    font-weight: 700; 
}

.table1 tbody tr td{
    background-color: rgba(0, 0, 0, 0.09);
    font-size: 1.1rem;
    padding: .5rem 10rem;   
    font-weight: 400; 
    color: #54504D;
}

.table1 tbody tr:hover{
    background-color: rgba(0, 0, 0, 0.15);
    transition: .3s;
}

.container3{
    padding: 0 1rem;
    padding-top: 5.5rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.container3 .txt{
    width: 100%;
    height: 4rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 3rem;
    padding-bottom: 2rem;
    
}

.container3 .txt h1{
    width: 40%;
    color: #54504D;
    letter-spacing: .2rem;
    font-weight: 600;
}

.container3 .txt .search{
    height: 2.2rem;
    width: 45%;
    background-color: rgba(0, 0, 0, 0);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-radius: 2rem;
    border: .01rem solid #54504D;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.15);
}

.container3 .txt .search i{
    padding: 1rem;
    font-size: 1rem;
    color: #54504D;
}

.container3 .txt .search input{
    width: 85%;
    height: 1.7rem;
    outline: none;
    border: none;
    background-color: rgba(0, 0, 0, 0.01);
    font-family: "Poppins", sans-serif; 
}

.container3 .txt .search input::placeholder{
    color: #54504D;
    font-family: "Poppins", sans-serif;
}

input[type="search"]::-webkit-search-cancel-button{
    -webkit-appearance: none;
    height: 1.3rem;
    width: 1.3rem;
    background-image: url(../imgs/close_FILL0_wght400_GRAD0_opsz24.png);
    background-repeat: no-repeat;
    background-size: cover;
    transition: .3s;
    opacity: .8;
}

.container3 .boxes{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0 2.5rem;
    padding-bottom: 2rem;
    flex-wrap: wrap;
    gap: 1.5rem;
}


.container3 .box{
    width: 22rem;
    height: 23rem;
    background-color: #E7DFD8;
    overflow-y: auto;
    padding: 1rem 1rem;
    color: #54504D;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.container3 .box:hover{
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2);
    transition: .3s;
}

.container3 .box::-webkit-scrollbar{
    width: .5rem;
}

.container3 .box::-webkit-scrollbar-thumb{
    background-color: rgba(0, 0, 0, 0.15);
    border-radius: .5rem;
}

.table2{
    margin-top: .5rem;
    width: 95%;
    text-align: center;
}

.table2, tr, th, td{
    padding: .3rem .5rem;
}

.table2 thead tr th{
    background-color: #54504D;
    color: #E7DFD8;
}

.table2 tbody tr td{
    background-color: rgba(0, 0, 0, 0.09);
    color: #54504D;
}

.container4{
    padding-top: 5.5rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.container4 .hdr{
    margin: 0 0 2rem;
    width: 100%;
    height: 3rem;
    background-color: #E7DFD8;
    display: flex;
    justify-content: center;
    align-items: center;

}

.table3{
    width: 100%;
    border-collapse: collapse;
    color: #54504D;
    font-size: 1.2rem;
    font-weight: 700;
}

.table3 tr td{
    border-bottom: .1rem solid #54504D;
    padding-top: .5rem;
}

.table3 span{
    font-weight: 500;
    margin-left: .2rem;
}

.table3 .inner{
    width: 63%;
    padding-left: 2rem;
}

.table3 .outer{
    width: 37%;
}

.container4 .btnplcmt{
    width: 100%;
    height: 4rem;
    margin-top: 4rem;
    padding: 0 2rem;
    display: flex;
    justify-content: flex-end;
    align-items: center ;
}

.container4 .btnplcmt .change{
    width: 13rem;
    height: 2.2rem;
    background-color: white;
    color: #54504D;
    border: .2rem solid #54504D;
    font-family: "Poppins", sans-serif;
    font-size: 1.1rem;
    cursor: pointer;
    margin-right: 1rem;
}

.container4 .btnplcmt .change:hover{
    opacity: .7;
    transition: .3s;
}

.container4 .btnplcmt .change i{
    padding: .3rem;
    background-color: #54504D;
    color: #E7DFD8;
    border-radius: 1rem;
}

.container4 .btnplcmt .edit{
    width: 11rem;
    height: 2.2rem;
    background-color: #54504D;
    color:  #E7DFD8;
    border: .2rem solid #54504D;
    font-family: "Poppins", sans-serif;
    font-size: 1.1rem;
    cursor: pointer;
    margin-right: 1rem;
}

.container4 .btnplcmt .edit:hover{
    opacity: .7;
    transition: .3s;
}

.container4 .btnplcmt .edit i{
    padding: .3rem;
    background-color: #54504D;
    color: #E7DFD8;
    border-radius: 1rem;
}

@media (max-width:1200px){
    
    .container3 .boxes{
        padding: 0 2rem;
    }
    
    .container3 .box{
        width: 21.5rem;
        height: 22rem;
    }
    
}

@media (max-width:1100px){
    .histmed{
        height: 4rem;
    }
    
    .table1 thead tr .th1{
        font-size: 1.5rem;
        padding: .9rem 5rem;

    }
    
    .table1 thead tr .th2{
        font-size: 1.5rem;
        padding: .9rem 8rem;
 
    }
    
    .table1 tbody tr td{
        font-size: 1rem;
        padding: .5rem 7rem;   

    }
    
    .container3 .txt h1{
        letter-spacing: .1rem;
        font-size: 1.4rem;
    }
    
    
    .container3 .boxes{
        padding: 0 1rem;
        padding-bottom: 2rem;
    }

    .container3 .box h2{
        font-size: 1.2rem;
    }
    
    
    .container3 .box{
        width: 18rem;
        height: 20rem;
    }

}

@media (max-width:950px){
    nav .links{
        width: 100%;
        justify-content: space-between;
    }
    nav .desktop{
        display: none;
    }
    nav .links .icon-bars{
        display: flex;
    }
    nav .links .sidebar{
        display: flex;
    }

    .container .mcon{
        width: 90%;
        height: 55%;
    }

    .container1{
        padding-top: 5rem;
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        background-color: rgba(0, 0, 0, 0.05);
        gap: 1.5rem;  
    }
    
    .container1 .conts{
        width: 23rem;
        height: 25rem;
    }

    .container3{
        padding: 0 1rem;
        padding-top: 5.5rem;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }
    
    .container3 .txt{
        width: 100%;
        height: 4rem;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 0 3rem;
        padding-bottom: 2rem;
        
    }

    .container3 .txt .search{
        height: 2.2rem;
        width: 45%;
        background-color: rgba(0, 0, 0, 0);
        display: flex;
        justify-content: flex-start;
        align-items: center;
        border-radius: 2rem;
        border: .01rem solid #54504D;
        box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.15);
    }
    
    
    .container3 .boxes{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        padding: 0 2.5rem;
        padding-bottom: 2rem;
        flex-wrap: wrap;
        gap: 1.5rem;
    }
    
    
    .container3 .box{
        width: 26rem;
        height: 25rem;
    }

    .container3 .box h2{
        font-size: 1.5rem;
    }
    
}

@media (max-width:850px){
    .container .mcon{
        width: 95%;
    }

    .container2{
        padding-top: 5rem;
    }
    
    .container2 h4{
        font-size: 1.1rem;
        font-weight: 500;
        color: #54504D;
    }
    .container2 h2{
        font-size: 1.6rem;
        font-weight: 700;
        color: #54504D;
    }
    
    .histmed{
        height: 4rem;
    }

    .histmed h1{
        font-size:1.7rem;
    }
    
    .table1 thead tr .th1{
        font-size: 1.3rem;
        padding: .9rem 5rem;
        font-weight: 700; 
    }
    
    .table1 thead tr .th2{
        font-size: 1.3rem;
        padding: .9rem 7rem;
        font-weight: 700; 
    }
    
    .table1 tbody tr td{
        padding: .5rem 6rem;   
    }

    .container2{
        padding-top: 6.4rem;
        margin: 0;
        height: auto;
    }
    
}


@media (max-width:750px){
    nav{
        height: 4.5rem;
        padding: 0 1.5rem;
    }

    nav .links a img{
        width: 4rem;
    }

    .container .mcon{
        width: 90%;
        height: 55%;
    }
    .container .mcon .inpfield .h3{
        font-size: 1.3rem;
    }

    .container .mcon .inpfield{
        width: 100%;
    }
    .container .mcon .inpfield .imglog{
        display: flex   ;
    }

    .container .mcon .inpfield .inps label{
        font-size: 1rem;
    }
    .container .mcon .imgfield{
        display: none;
    }

    .container1 .conts{
        width: 20rem;
        height: 23rem;
    }

    .container2{
        padding-top: 5rem;
        margin: 0;
        height: auto;
    }
    
    .container2 h4{
        font-size: 1.1rem;
        font-weight: 500;
        color: #54504D;
    }
    .container2 h2{
        font-size: 1.5rem;
        font-weight: 700;
        color: #54504D;
    }
    
    .histmed{
        height: 4rem;
    }

    .histmed h1{
        font-size:1.7rem;
    }
    
    .table1 thead tr .th1{
        font-size: 1.1rem;
        padding: .9rem 1rem;
        font-weight: 700; 
    }
    
    .table1 thead tr .th2{
        font-size: 1.1rem;
        padding: .9rem 3rem;
        font-weight: 700; 
    }
    
    .table1 tbody tr td{
        padding: .5rem 2rem;   
    }

    .container3{
        padding: 0 1rem;
        padding-top: 4.5rem;
    }

    .container3 .boxes{
        padding: 0 2rem;
    }
    
    .container3 .txt{
        width: 95%;
        height: 6rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0 3rem;
        padding-bottom: 2rem;
        
    }

    .container3 .txt h1{
        width: 100%;
        font-size: 1.8rem;
        display: flex;
        justify-content: center;
        margin-bottom: .5rem;
    }


    .container3 .txt .search{
        height: 2.2rem;
        width: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }
    
    .container3 .box{
        width: 26rem;
        height: 25rem;
    }

    .container3 .box h2{
        font-size: 1.5rem;
    }

    .container4{
        padding-top: 4.5rem;
        width: 100%;
    }
    
    .table3{
        font-size: 1.1rem;
    }
    
    .container4 .btnplcmt .change{
        width: 12rem;
        height: 2.2rem;
        background-color: white;
        color: #54504D;
        border: .2rem solid #54504D;
        font-family: "Poppins", sans-serif;
        font-size: 1rem;
        cursor: pointer;
        margin-right: 1rem;
    }
    
    .container4 .btnplcmt .edit{
        width: 10rem;
    }
    
}

@media (max-width:600px){
    .container2{
        padding-top: 5rem;
        margin: 0;
        height: auto;
    }
    
    .container2 h4{
        font-size: 1rem;
        font-weight: 500;
        color: #54504D;
    }
    .container2 h2{
        font-size: 1.4rem;
        font-weight: 700;
        color: #54504D;
    }
    
    .histmed{
        height: 4rem;
    }

    .histmed h1{
        font-size:1.6rem;
    }
    
    .table1 thead tr .th1{
        font-size: 1rem;
        padding: .9rem 1rem;
        font-weight: 700; 
    }
    
    .table1 thead tr .th2{
        font-size: 1rem;
        padding: .9rem 3rem;
        font-weight: 700; 
    }
    
    .table1 tbody tr td{
        padding: .5rem 2rem;   
    }

    .container4{
        padding-top: 4.5rem;
        width: 100%;
    }
    
    .table3{
        width: 100%;
        font-size: .9rem;
    }

    .container4 .btnplcmt{
        justify-content: center;
        height: 4rem;
        margin-top: 2rem;
    }
    
    .container4 .btnplcmt .change{
        width: 10rem;
        font-size: .8rem;
        margin-right: 1rem;
    }
    
    .container4 .btnplcmt .edit{
        width: 8rem;
        font-size: .9rem;
    }
}

@media (max-width:475px){
    .container2{
        padding-top: 5.5rem;
    }
    
    .container2 h4{
        font-size: .9rem;
        font-weight: 500;
        color: #54504D;
    }
    .container2 h2{
        font-size: 1.1rem;
        font-weight: 700;
        color: #54504D;
    }
    
    .histmed{
        height: 3.5rem;
    }

    .histmed h1{
        font-size:1.2rem;
    }
    
    .table1 thead tr .th1{
        font-size: .9rem;
        padding: .9rem 1rem;
        font-weight: 700; 
    }
    
    .table1 thead tr .th2{
        font-size: .9rem;
        padding: .9rem 3em;
        font-weight: 700; 
    }
    
    .table1 tbody tr td{
        font-size: .8rem;
        padding: .5rem 2rem;   
    }

    .container3{
        padding: 0 1rem;
        padding-top: 4.5rem;
    }

    .container3 .boxes{
        padding: 0 .7rem;
    }
    
    .container3 .txt{
        width: 95%;
        height: 6rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0 1rem;
        padding-bottom: 2rem;
        
    }

    .container3 .txt h1{
        width: 100%;
        font-size: 1.4rem;
        display: flex;
        justify-content: center;
        margin-bottom: .5rem;
    }


    .container3 .txt .search{
        height: 2.2rem;
        width: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }
    
    .container3 .box{
        width: 20.5rem;
        height: 22rem;
    }

    .container3 .box h2{
        font-size: 1.5rem;
    }
    
    .table3{
        width: 100%;
        font-size: .7rem;
    }

    .container4 .btnplcmt{
        justify-content: center;
        margin-top: 1rem;
    }
    
    .container4 .btnplcmt .change{
        width: 8rem;
        font-size: .6rem;
        margin-right: 1rem;
    }
    
    .container4 .btnplcmt .edit{
        width: 7rem;
        font-size: .7rem;
    }
}